*{margin:0; padding:0;}
/* body{background:url(images/bg.png) center top;} */
body{background:#333;}
a{color:#fff; text-decoration: none;}
a:hover{text-decoration: underline; color:orange;}

h1{text-align: center; font-size: 32px; color:#fff;}
.pro {display: flex; flex-wrap: wrap; justify-content: space-between; width:800px; margin:0 auto;}
.pro a{width:30%; margin-top:30px;} 
.pro a img{width:100%; height:fit-content}

aside{background:#efefef; border-radius: 5px; padding:10px; width:100px; position:fixed; top:150px; right:30px;}
aside a{width:100%; margin-top:20px; display: block;}
aside a img{width:100%;}

.text{font-size: 50px; color:lightcoral; text-align: center; padding-top:300px;}